/* Add your custom css styles */

.rightSticky {
    width: 200px;
    height: max-content;
    position: absolute;
    right: -150px;
    bottom: 200px;
    margin: auto;
    z-index: 4445;

}

.rightSticky ul {
    margin: 0;
    padding: 0;
}

.rightSticky ul li {
    list-style: none;
    background-color: #0077cc;
    color: white;
    padding: 5px 13px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
}

.rightSticky .notify {
    background-color: red;
    display: block;
    position: absolute;
    text-align: center;
    border-radius: 100%;
    font-size: 10px;
    width: 30px;
    height: 18px;
    line-height: 18px;
    top: -4px;
    left: -20px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink-element {
    animation: blinker 1s linear infinite;
}


.rightSticky ul li i {
    font-size: 25px;
    min-width: 25px;
    text-align: center;

}

.rightSticky ul li span {
    vertical-align: text-bottom;
    font-weight: bold;
    margin-left: 10px;
}

.rightSticky ul li:nth-of-type(1n+2) {
    margin-top: 8px;
}

.rightSticky ul li:hover {
    margin-left: -150px;
    opacity: 1;
}


.rightSticykPopup {
    background-color: #FFFFFF;
    width: 300px;
    height: 320px;
    position: absolute;
    bottom: 130px;
    right: 10px;
    z-index: 4444;
    box-shadow: 2px 3px black;

}

.rightSticykPopup .header {
    background-color: #0077cc;
    width: 100%;
    height: 36px;
    color: white;
    padding: 8px 15px;
    font-size: 17px;
    font-weight: 600;
}

.rightSticykPopup .header .rightTool {
    float: right;
    margin-right: 30px;
    height: 26px;
}

.rightSticykPopup .header .rightTool i, .rightSticykPopup .header .rightTool div > span {
    cursor: pointer;
}

.rightSticykPopup .header .rightTool i:hover, .rightSticykPopup .header .rightTool div > span:hover {
    color: black;
}


.rightSticykPopup .header .rightTool i:nth-of-type(1) {
    vertical-align: bottom;
}

.rightSticykPopup .header .rightTool .dropdown {
    top: -25px;
    left: 29px;
}

.rightSticykPopup .contentHeader {
    color: #0077cc;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 14px;
}

.presenterRightSticykPopup {
    position: unset;
    box-shadow: 0 0px 2px black;
    margin-bottom: 15px;
    width: 450px;
    max-width: 100%;
    height: 390px;
}

.presenterRightSticykPopup .dropdown-menu {
    margin-left: -135px;
}

.presenterRightSticky {
    bottom: unset;
    top: 200px;
}


#briefcase_section {
    top: 68px !important;
}

.messagesSticky .content .messages {
    padding: 5px 3px;
    max-height: 240px;
    height: 200px;
    overflow: auto;
}

.messagesStickyPresenter .content .messages {
    padding: 5px 3px;

}

.messagesStickyPresenter .content .messages {
    height: 200px;
}

.messagesSticky .content .messages > div:nth-of-type(1n+2) {
    margin-top: 5px;
}

.messagesSticky .content .messages .messageHe, .messagesSticky .content .messages .messageMe {
    padding: 10px 12px;
    font-size: 12px;
    color: black;
    line-height: 15px;
    font-weight: 400;
    border-radius: 10px;

}

.messagesSticky .content .messages .messageHe span {
    font-weight: 600;
}

.messagesSticky .content .messages .messageHe p {
    margin-top: 5px;
}

.messagesSticky .content .messages .messageHe p, .messagesSticky .content .messages .messageMe p {
    margin-bottom: 0;
    color: #2f2f2f;
}

.messagesSticky .content .messages .messageHe {
    background-color: #ECEAEB;
    border-radius: 10px;
}

.messagesSticky .content .messages .messageMe {
    background-color: #D0D0D0;
}

.messagesSticky input {
    width: 270px;
    height: 40px;
    border-radius: 50px;
    margin: 1px auto 0 auto;
}


#mainMenu .dropdown-menu {
    margin-right: -15px;
}


@media only screen and (max-width: 600px) {
    .rightSticky {
        bottom: 56px;
        position: fixed;
    }

    /*.rightSticykPopup {*/
    /*width: 100%;*/
    /*right: 0px;*/
    /*position: fixed;*/
    /*margin: auto;*/
    /*top: 0px;*/
    /*bottom: 0px !important;*/
    /*height: 100%;*/
    /*}*/
    #briefcase_section .input-group {
        width: 100%;
    }


    .rightSticykPopup .content > #briefcase_section {
        padding: 0 !important;
        top: 36px !important;
    }

    /*.rightSticykPopup .content > #briefcase_section textarea {*/
    /*    width: 100%;*/
    /*    height: 80vh;*/
    /*}*/
    .rightSticykPopup .content > #briefcase_section .button {
        position: absolute;
        bottom: -37px;
        width: 100%;
    }

    #success_briefcase, #error_briefcase {
        display: block !important;
        text-align: center;
    }

    #ask_questions_section .input-group {
        width: 86%;
    }

    #success_questions, #error_questions {
        text-align: center !important;
        display: block !important;
    }

    .messagesStickyPresenter .content .messages {
        max-height: 100vh;
        height: 89vh !important;
    }
}

.totalAttende {
    font-size: 15px;
}

.border {
    border: 1px solid;
}

.borderRed {
    border-color: red !important;
}

.displayNone {
    display: none !important;
}

.adminChatSticky .content .admin-messages {
    padding: 5px 3px;
    max-height: 240px;
    height: 200px;
    overflow: auto;
}

.adminChatSticky input {
    width: 270px;
    height: 40px;
    border-radius: 50px;
    margin: 1px auto 0 auto;
}

.admin-to-user-text {
    color: white;
    background-color: #df941f;
    text-align: left;
    display: list-item;
    list-style: none;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 12px;
    border-radius: 15px;
    margin-right: 40px;
}

.user-to-admin-text {
    color: white;
    background-color: #1f8edf;
    text-align: right;
    display: list-item;
    list-style: none;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-right: 12px;
    border-radius: 15px;
    margin-left: 50px;
}

#mainMenu2 {
    margin-top: 25px;
    padding-right: 15px;
}
#logo{
    margin-left: 15px;
}

#logo img{
    width: 110px;
    height: 100px;
    padding-bottom: 0 !important;
}
#mainMenu2 #button-support{
    max-width: 150px;
    height: 50px;
}

#mainMenu2 .live-support-open-button{
    padding: 6px 7px;
    margin-top: -4px;
}
#header-wrap>.container{
    padding: 0 !important;
}

@media screen and (max-width: 1400px) {
    #mainMenu2 #button-support{
        max-width: 100px;
        height: 30px;
        margin-top: -15px;
    }

    #header .container{
        padding: 0 10px;
        margin: 0;
        width: 100%;
    }

    #mainMenu2 ul li a {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 1290px) {
    #header-wrap {
        padding: 0 !important;
    }

    #logo img{
        margin-top: 10px;
        width: 90px !important;
        height: 60px !important;
    }
}

@media screen and (max-width: 1200px) {
    #header-wrap #logo img {
        width: 70px !important;
        height: 100px !important;
        object-fit: contain;
        margin-top: -10px;

    }

    #header-wrap #button-support {
        width: 100px !important;
        object-fit: contain;
    }

    #header-wrap .nav-button {
        margin-top: 0 !important;
    }

    #mainMenu2 ul li a {
        font-size: 11px !important;
    }

    #mainMenu2 ul li {
        margin-right: 0px !important;
    }

    #mainMenu2 .nav {
        width: max-content !important;
    }
}

@media screen and (max-width: 1162px) {
    #mainMenu2 .live-support-open-button{
        margin-top: 0px;
        font-size: 11px;
    }
    #mainMenu2 ul li a{
        padding-right: 10px;
        padding-left: 10px;
    }
}


@media screen and (max-width: 1035px) {
    #header-wrap #button-support{
        width: 90px !important;
    }
    #logo{
        margin-left: 5px;
    }
    #mainMenu2{
        padding-right: 10px;
    }
    #mainMenu2 .live-support-open-button{
        padding: 5px 3px;
    }
}


@media screen and (max-width: 1003px) {
    #mainMenu2 ul li a {
        font-size: 10.5px !important;
    }
}


@media screen and (max-width: 991px) {
    #header-wrap #logo img {
        padding: 0 !important;
        width: 85px !important;
        height: 55px !important;
        margin-top: 5px;
    }

    #logo {
        height: 60px !important;
        margin-left: 20px;
    }

    .nav-main-menu-responsive {
        margin-top: 12px;
        margin-right: 20px;
    }

    #header {
        padding-bottom: 0 !important;
    }

    #header .navbar-collapse {
        overflow: hidden !important;
    }

    #mainMenu2 .nav {
        height: 50px !important;
        width: 100% !important;
        text-align: center;
        border-top: 1px solid #746797 !important;
        border-radius: 0 !important;
        padding-top: 15px;
    }

    #mainMenu2 {
        margin-top: 0 !important;
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }

    #mainMenu2 ul:nth-last-of-type(1){
        order: -10;
    }
    #mainMenu2 .main-event{
        order: -8;
    }

    #mainMenu2 ul:nth-last-of-type(2){
        order: -9;
    }

    #mainMenu2 ul:nth-last-of-type(4){
        order: -7;
    }

    #mainMenu2 ul:nth-last-of-type(5){
        order: -6;
    }

    #mainMenu2 ul:nth-last-of-type(6){
        order: -5;
    }

    #mainMenu2 ul:nth-last-of-type(7){
        order: -4;
    }

    #mainMenu2 ul:nth-last-of-type(8){
        order: -3;
    }
    #mainMenu2 ul:nth-last-of-type(9){
        order: 1;
    }




    #header .container {
        padding: 0;
    }

    #mainMenu2 .live-support-open-button{
        margin-top: -3px;
    }

    #mainMenu2 .nav{
        padding-top: 10px;
    }

    #mainMenu2 .live-support-open-button{
        margin-top: 1px;
    }

}